<div class="wrapper">
    <div class="page-header clear-filter" filter-color="blue">
        <div class="page-header-image rellax-header n-logo" data-rellax-speed="-1"
            style="background-image: url('assets/img/gory1.jpg');">

        </div>
        <div class="container">
            <div class="content-center brand">
                <img class="n-logo" src="assets/img/treehill-logo-white.png" alt="">
                <!-- <h1>Tree Hill House.</h1> -->
                <h3>A cosy house close to mountains.</h3>
            </div>
            <!-- <h6 class="category category-absolute">Designed by
                <a href="https://invisionapp.com/" target="_blank">
                    <img src="assets/img/invision-white-slim.png" class="invision-logo" />
                </a>. Coded by
                <a href="https://www.creative-tim.com" target="_blank">
                    <img src="assets/img/creative-tim-white-slim2.png" class="creative-tim-logo" />
                </a>.</h6> -->
        </div>
    </div>

    <div class="main">
        <div class="section" id="carousel">
            <div class="container">
                <div class="title">
                    <h4>{{"main.around"|translate}}</h4>
                </div>
                <div class="row justify-content-center">
                    <div class="col-8">
                        <ngb-carousel>
                            <ng-template ngbSlide>
                                <img class="d-block" src="assets/img/bg1.jpg" alt="First slide">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>Nature, United States</h5>
                                </div>
                            </ng-template>
                            <ng-template ngbSlide>
                                <img class="d-block" src="assets/img/bg3.jpg" alt="Second slide">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>Somewhere Beyond, United States</h5>
                                </div>
                            </ng-template>
                            <ng-template ngbSlide>
                                <img class="d-block" src="assets/img/bg4.jpg" alt="Third slide">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>Yellowstone National Park, United States</h5>
                                </div>
                            </ng-template>
                        </ngb-carousel>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-nucleo-icons">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <h2 class="title">Milej Zabawy</h2>
                        <h5 class="description">
                            Now UI Kit PRO comes with 100 custom icons made by our friends from NucleoApp. The official
                            package contains over 2.100 thin icons which are looking great in combination with Now UI
                            Kit PRO Make sure you check all of them and use those that you like the most.
                        </h5>
                        <!-- <div class="nucleo-container">
        <img src="assets/img/nucleo.svg" alt="">
      </div> -->
                        <a [routerLink]="['/nucleoicons']" class="btn btn-success btn-round btn-lg">View Demo Icons</a>
                        <a href="https://nucleoapp.com/?ref=1712" class="btn btn-success btn-simple btn-round btn-lg"
                            target="_blank">View All Icons</a>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="icons-container">
                            <i class="now-ui-icons ui-1_send"></i>
                            <i class="now-ui-icons ui-2_like"></i>
                            <i class="now-ui-icons transportation_air-baloon"></i>
                            <i class="now-ui-icons text_bold"></i>
                            <i class="now-ui-icons tech_headphones"></i>
                            <i class="now-ui-icons emoticons_satisfied"></i>
                            <i class="now-ui-icons shopping_cart-simple"></i>
                            <i class="now-ui-icons objects_spaceship"></i>
                            <i class="now-ui-icons media-2_note-03"></i>
                            <i class="now-ui-icons ui-2_favourite-28"></i>
                            <i class="now-ui-icons design_palette"></i>
                            <i class="now-ui-icons clothes_tie-bow"></i>
                            <i class="now-ui-icons location_pin"></i>
                            <i class="now-ui-icons objects_key-25"></i>
                            <i class="now-ui-icons travel_istanbul"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="container text-center">
                <div class="row justify-content-md-center">
                    <div class="col-md-12 col-lg-8">
                        <h2 class="title">Tu napisac cos</h2>
                        <h5 class="description">The kit comes with three pre-built pages to help you get started faster.
                            You can change the text and images and you're good to go. More importantly, looking at them
                            will give you a picture of what you can built with this powerful Bootstrap 4 ui kit.</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-signup"
            style="background-image: url('assets/img/bg11.jpg'); background-size: cover; background-position: top center; min-height: 700px;">
            <div class="container login-page">
                <div class="row">
                    <div class="col-md-4 content-center ml-auto mr-auto">
                        <div class="card card-login card-plain">
                            <form class="form" method="" action="">
                                <div class="header header-primary text-center">
                                    <div class="logo-container">
                                        <img src="assets/img/now-logo.png" alt="">
                                    </div>
                                </div>
                                <div class="content">
                                    <div class="input-group form-group-no-border input-lg"
                                        [ngClass]="{'input-group-focus':focus===true}">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"> <i
                                                    class="now-ui-icons users_circle-08"></i></span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="First Name..."
                                            (focus)="focus=true" (blur)="focus=false">
                                    </div>
                                    <div class="input-group form-group-no-border input-lg"
                                        [ngClass]="{'input-group-focus':focus1===true}">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i
                                                    class="now-ui-icons text_caps-small"></i></span>
                                        </div>
                                        <input type="text" placeholder="Last Name..." class="form-control"
                                            (focus)="focus1=true" (blur)="focus1=false" />
                                    </div>
                                </div>
                                <div class="footer text-center">
                                    <a href="#pablo" class="btn btn-success btn-round btn-lg btn-block">Get Started</a>
                                </div>
                                <div class="text-center">
                                    <h6>
                                        <a href="#pablo" class="link">Create Account</a>
                                    </h6>
                                </div>
                                <div class="text-center">
                                    <h6>
                                        <a href="#pablo" class="link">Need Help?</a>
                                    </h6>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col text-center">
                    <a [routerLink]="['/examples/login']" class="btn btn-simple btn-round btn-white btn-lg">View Login
                        Page</a>
                </div>
            </div>
        </div>

        <div class="section section-download" id="#download-section" data-background-color="black">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="text-center col-md-12 col-lg-8">
                        <h3 class="title">Lubisz polskie gory?</h3>
                        <h5 class="description">Zostajac z nami bl bablablabalbalablabalb alba lba lbal
                            ahlbalba la lbal ablabalbal al bal al bal bal la bal ba ablablablab adsa!
                            fdfsfdsfdsfdfsdfs</h5>
                    </div>
                    <div class="text-center col-md-12 col-lg-8">
                        <a href="https://www.creative-tim.com/product/now-ui-kit-angular"
                            class="btn btn-success btn-lg btn-round" role="button">
                            Download Angular
                        </a>
                        <a href="https://www.invisionapp.com/now" target="_blank"
                            class="btn btn-success btn-lg btn-simple btn-round" role="button">
                            ZObacz pokoje
                        </a>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <div class="row text-center mt-5">
                    <div class="col-md-8 ml-auto mr-auto">
                        <h2>Want more?</h2>
                        <h5 class="description">We've just launched
                            <a href="https://timcreative.github.io/now-ui-kit-pro-angular/presentation"
                                target="_blank">Now UI Kit PRO Angular</a>. It has a huge number of components, sections
                            and example pages. Start Your Development With A Badass Bootstrap 4 UI Kit.</h5>
                    </div>
                    <div class="col-md-12">
                        <a href="https://timcreative.github.io/now-ui-kit-pro-angular/presentation"
                            class="btn btn-neutral btn-round btn-lg" target="_blank">
                            <i class="now-ui-icons arrows-1_share-66"></i> Upgrade to PRO
                        </a>
                    </div>
                </div>
                <br>
                <br>
                <div class="row justify-content-md-center sharing-area text-center">
                    <div class="text-center col-md-12 col-lg-8">
                        <h3>Thank you for supporting us!</h3>
                    </div>
                    <div class="text-center col-md-12 col-lg-8">
                        <a target="_blank" href="https://www.twitter.com/creativetim"
                            class="btn btn-neutral btn-icon btn-twitter btn-round btn-lg" rel="tooltip"
                            title="Follow us">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a target="_blank" href="https://www.facebook.com/creativetim"
                            class="btn btn-neutral btn-icon btn-facebook btn-round btn-lg" rel="tooltip"
                            title="Like us">
                            <i class="fab fa-facebook-square"></i>
                        </a>
                        <a target="_blank" href="https://www.linkedin.com/company-beta/9430489/"
                            class="btn btn-neutral btn-icon btn-linkedin btn-lg btn-round" rel="tooltip"
                            title="Follow us">
                            <i class="fab fa-linkedin"></i>
                        </a>
                        <a target="_blank" href="https://github.com/creativetimofficial/now-ui-kit-angular"
                            class="btn btn-neutral btn-icon btn-github btn-round btn-lg" rel="tooltip"
                            title="Star on Github">
                            <i class="fab fa-github"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer" data-background-color="black">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="https://www.creative-tim.com">
                            Creative Tim
                        </a>
                    </li>
                    <li>
                        <a href="https://www.creative-tim.com/about-us">
                            About Us
                        </a>
                    </li>
                    <li>
                        <a href="http://blog.creative-tim.com">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
                            MIT License
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}
                <a href="https://www.invisionapp.com" target="_blank">Tree Hill House</a>
            </div>
        </div>
    </footer>
</div>